<!DOCTYPE html>
<html>
<head>
	<title>Animations</title>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<script type="text/javascript" src="paper-full.js"></script>
	<script type="text/javascript" src="howler.js"></script>

	<script type="text/paperscript" canvas="myCanvas" src="interaction.js">
	</script>
</head>
<body>
	<canvas id="myCanvas" resize></canvas>
</body>
</html>